*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* STRUTTURA */

header{
    width: 100%;
    background-color: red;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.dash-right{
    text-align: right;
}

header ul li{
    list-style-type: none;
    display: inline-block;

    border: 1px solid black;
    padding: 0px 10px;
}

button{
    background-color: blue;
    margin-right: 20px;
    height: 30px;
    line-height: 5px;
    color: white;
    font-size: 10px;
}

.jumbo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    height: 90%;
    width: 60%;
    padding-top: 50px;
}

.jumbotron .col-40, .col-60{
    height: 70%;
}

.jumbotron p, button{
    display: block;
    padding: 10px;
}

.jumbotron .col-60{
    position: relative;
}

.jumbotron img{
    height: 300px;
    width: 550px;
    position: absolute;
    top: 5px;
    left: 0px;
}

h1{
    width: 100%;
    font-size: 50px;
    padding-bottom: 20px;
}

.business-container{
    display: flex;
    background-color: yellow;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.business-h2{
    width: 50%;
    height: 5%;
    margin-top: 20px;
    padding-bottom: 20px;
}

.input{
    width: 51%;
    margin-bottom: 50px;
}

.input p{
    display: inline-block;
    padding-left: 1%;
    margin-right: 20px;  
}

.business-col{
    display: flex;
    justify-content: space-between;
    height: 700px;
    background-color: orange;
    width: 50%;
    flex-wrap: wrap;
}

.business-col .col-30{
    height: fit-content;
}

.business-col .col-30 h4{
    display: block;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    color: black;
}

.col-30-content{
    padding: 20px 0px 0px 20px;
}

.col-30-content ul{
    list-style-type: none;
    padding: 20px 0px;
}

.col-30-content li{
    padding: 10px 0px;
}

.col-30-third-content{
    padding: 20px 0px;
}

.col-30-fourth-content p{
    padding: 10px 0px;
    font-size: 10px;
}

.enterprise{
    display: flex;
    justify-content: space-between;
}

.enterprise-right-side{
    align-content: flex-end;
}

.col-100 h4{
    display: block;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    color: black;
}

.partner-container{
    display: flex;
    background-color: brown;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}

.partner-col{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 50%;
    flex-wrap: wrap;
}

.partner-col .col-40{
    padding: 40px 20px;
}

.partner-col .col-40 h3 p button{
    padding: 10px 0px;
}

.partner-col .col-60 img{
    width: 100%;
}

.dropbox-container{
    display: flex;
    background-color: yellow;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.dropbox-col{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 50%;
    flex-wrap: wrap;
}

.dropbox-h2{
    width: 51%;
    height: 5%;
    margin: 50px 0px 0px 10px;
}

.photo-content img{
    width: 100%;
}

.fa-solid{
    padding-right: 5px;
}

.link{
    margin-top: 20px;
}

hr{
    width: 50px;
    border-width:0;
    color:gray;
    background-color:gray
}

#white-button{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
}

/* footer */
.foot-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.foot-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 90%;
    max-width: 65%;
    margin-top: 20px;
}

.foot-content li, h4{
    list-style-type: none;
    color: white;
}


/* COLONNE */
.col-10{
    width: 10%;
    background-color: green;
    border: 1px solid black;
}

.col-30{
    width: 30%;
    background-color:cadetblue;
    border: 1px solid black;
    margin-bottom: 20px;
}

.col-40{
    width: 40%;
    background-color:coral;
    border: 1px solid black;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
    background-color:dimgrey;
    border: 1px solid black;
}

.col-100{
    width: 100%;
    background-color:blueviolet;
    border: 1px solid black;
}

/* FLEXBOX e STILE */

.display-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}

.vertical-align-middle{
    vertical-align: middle;
}

.align-content-center{
    align-content: center;
}



/* ALTEZZE E LARGHEZZE */


/* COLORI */
.bg-red{
    background-color: red;
}

.bg-silver{
    background-color: silver;
}

.bg-blue{
    background-color: blue;
}

.border-black{
    border: 1px solid black;
}
